.finalwrapper {
    border-bottom: 1px solid pink;
    text-align: left;
    margin-bottom: 10px;
}

.removeFinal {
    margin-right: 20px;
    margin-bottom: 10px;
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px;
    color: red;
    border-color: red;
    background-color: transparent;
}